* {
  margin: 0;
}

h1 {
  color: rgb(240, 240, 240);
  font-family: "Abril Fatface";
  font-size: 1.75rem;
  font-weight: lighter;
}

h4 {
  color: rgb(245, 245, 245);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  text-align: left;
}

header {
  background-image: url("./assets/bgk-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

body {
  text-align: center;
}

footer {
  background-image: url("./assets/bgk-footer.png");
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

footer p {
  max-width: 240px;
  color: rgb(245, 245, 245);
  font-family: "Abel";
  line-height: 1.6em;
  font-size: 0.9rem;
}

nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.divider {
  border-bottom: 2px solid rgb(134 192 191);
  margin: 10px;
  width: 50px;
  margin: 20px auto;
}

.footerLink {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rgb(240, 240, 240);
  font-size: 0.7rem;
}
.introText {
  color: rgb(245, 245, 245);
  max-width: 800px;
  line-height: 1.6em;
  font-family: "Abel";
  font-size: 0.9rem;
  letter-spacing: 0.05em;
}

.learnMoreButton {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid rgb(134, 192, 191);
  width: 120px;
  margin: 50px auto;
  color: rgb(134, 192, 191);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.menuLink {
  color: rgb(240, 240, 240);
  font-weight: 600;
  text-decoration: none;
  font-family: Arial, Helvetica;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navLinkList {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navLinkList li {
  display: inline-block;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.7;
}

/* start expertise-section by Ve */

#expertise-section {
  display: inline-block;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#expertise-section h2 {
  text-transform: uppercase;
  font-size: 1.1em;
}

#expertise-subheading {
  font-size: 0.8em;
  margin-top: 0.8em;
}

#expertise-line {
  display: flex;
  justify-content: center;
}

#expertise-line hr {
  width: 50px;
  margin-top: 0.9em;
}

#expertise-blocks {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  justify-content: center;
  margin-top: 32px;
}

#expertise-blocks div {
  height: 150px;
  max-width: 200px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}

#expertise-blocks img {
  height: 2rem;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

#expertise-blocks h3 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
  font-size: 0.7em;
  margin-bottom: 1.5em;
}

#expertise-blocks p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  font-size: 0.7em;
}

#exp1 {
  border-bottom: 1px solid lightgray;
}

#exp2 {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

#exp3 {
  border-bottom: 1px solid lightgray;
}

#exp5 {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

@media only screen and (max-width: 800px) {
  #expertise-blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }

  #exp1 {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid lightgray;
  }

  #exp2 {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid lightgray;
  }

  #exp3 {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid lightgray;
  }

  #exp4 {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid lightgray;
  }

  #exp5 {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid lightgray;
  }
}

/* end expertise-section by Ve */

/* start team-section by Ve */

#team-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("src/bgk-header.png");
  background-size: cover;
}

#team-section h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  color: white;
}

#team-subheading {
  font-size: 0.8em;
  margin-top: 0.8em;
  color: white;
}

#team-line {
  display: flex;
  justify-content: center;
}

#team-line hr {
  width: 50px;
  margin-top: 0.9em;
}

#team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.team {
  border: 1px solid white;
  height: 200px;
  width: 145px;
  margin: 10px;
  color: white;
}

.team-pic {
  height: 75%;
  background-color: white;
}

#team h3 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
  font-size: 0.7em;
  margin-top: 1em;
  font-weight: bold;
}

#team p {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
  font-size: 0.7em;
  font-weight: lighter;
}

#team-foot {
  margin-top: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#team-foot p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
  font-size: 0.7em;
  font-weight: lighter;
  color: white;
}

#hiring {
  border: 1px solid turquoise;
  margin-top: 16px;
  text-align: center;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#hiring p {
  text-transform: uppercase;
  color: turquoise;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  font-size: 0.7em;
  font-weight: lighter;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}

/* end team-section by Ve */

/* start contact & clients section by ve */

#contact-client-section {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
}

#contact-form {
  width: 410px;
}

#contact-client-section h2 {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 1.1em;
}

.contact-form {
  border: 1px solid lightgray;
  color: lightgrey;
  font-size: 0.8em;
  padding: 2%;
  width: 70%;
  margin-top: 1em;
}

textarea {
  resize: none;
  border: 1px solid lightgray;
  color: lightgrey;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  width: 70%;
  height: 100px;
  margin-top: 1em;
}

input[type="submit"] {
  border: 1px solid #61d8ca;
  color: #61d8ca;
  background-color: white;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  font-size: 0.7em;
  font-weight: lighter;
  text-align: center;
  margin-top: 1em;
  border-radius: 1px;
}

#logos {
  display: grid;
  row-gap: 25px;
  column-gap: 50px;
  grid-template-columns: auto auto;
  align-items: center;
}

.logos img {
  width: 90px;
  padding: 1%;
}

@media only screen and (max-width: 800px) {
  #contact-client-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #contact-form {
    border-bottom: 1px solid lightgray;
    margin-bottom: 48px;
    padding-bottom: 48px;
    width: 350px;
  }

  #logos {
    margin-bottom: 48px;
  }
}

/* end contact & clients section by ve */

.socialMediaIcon {
  width: 27px;
  height: auto;
}

.studioInfo {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  margin-top: 10px;
}

.subscribeInput {
  background: transparent;
  padding: 10px 10px;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(240, 240, 240);
  width: 150px;
}

.tajam {
  font-size: 2rem;
  font-family: Abel;

  color: transparent;
  background: linear-gradient(
    90deg,
    rgba(134, 192, 191, 1) 0%,
    rgba(119, 230, 228, 1) 51%,
    rgba(99, 147, 146, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

#hero-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 30px;
}

#our_Story-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 48px auto;
  gap: 60px;
}

#logo {
  width: 200px;
}

#logo img {
  width: 200px;
  padding-top: 10px;
}

#story {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#story h2 {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: "Times New Roman";
  color: rgb(60, 60, 60);
}

.story-text {
  margin-bottom: 16px;
  font-size: 0.8em;
  color: rgb(130, 130, 130);
  font-family: "Abel";
  max-width: 470px;
  line-height: 1.15rem;
}

#learn {
  border: 2px solid turquoise;
  text-align: center;
  width: 120px;
  border-radius: 3px;
}

#learn p {
  text-transform: uppercase;
  color: turquoise;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}

#watch-section {
  background-image: url("src/bgk-middle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.video h3 {
  text-transform: uppercase;
}

.background {
  display: flex;
  justify-content: baseline;
  display: contents;
  padding-bottom: 0%;
}

.video {
  display: flex;
  color: white;
  text-align: center;
  top: 80%;
  left: 48%;
  visibility: visible;
  padding: auto;
}
.icon {
  cursor: pointer;
  display: flex;
  content: icon;
  color: white;
  top: 65%;
  left: 50%;
  align-content: center;
  padding: auto;
}
